{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid title-bar">
        <h3 class="text-white text-center">O FIRMIE</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-md-2 text-justify pt-5">
                <p>Firma ASTHUS została założona przez Jerzego Kuncickiego w 2015 roku. Doświadczenie założyciela zdobyte w ciągu ostatnich 25–ciu lat pracy zawodowej to praca na najwyższych stanowiskach w różnych firmach – członek zarządu (prezes, wiceprezes, członek zarządu), dyrektor finansowy, dyrektor operacyjny, dyrektor zarządzający. Ostatnio również jako konsultant i trener w partnerskiej firmie. Doświadczenie to daje solidne podstawy dla kompetentnej i rzetelnej działalności w sferze finansów i zarządzania, głównie w obszarach rachunkowości zarządczej. Doświadczenie założyciela oraz jego zainteresowanie i fascynacja rachunkowością menedżerską Throughput Accounting (TA) i Teorią Ograniczeń (Theory of Constraints - TOC) E. Goldratta jest niezwykłą mieszanką o wysokim potencjale skuteczności działania i korzyści dla klienta. Celem ASTHUS jest wspieranie głównie małych i średnich firm w zakresie poprawy efektywności ich działania poprzez wdrażanie i szkolenia w zakresie rachunkowości zarządczej opartej na Throughput Accounting, wdrażanie koncepcji zarządzania ograniczeniami - Teorii Ograniczeń (głównie w firmach produkcyjnych), oraz wspólnie z Partnerem LeanQ Team spółka z o.o. wdrażanie narzędzi Lean Management i szkolenia w tym zakresie. Połączenie Teorii Ograniczeń (wraz z Throughput Accounting) z wdrażaniem narzędzi Lean Management w istotnym stopniu zwiększa zarówno skuteczność prowadzonych wdrożeń jak i skalę efektów dla klienta.</p>
                <p>W celu wyjaśnienia istoty Throughput Accounting zamieszczane są na stronie ASTHUS artykuły (zakładka „Artykuły”), które w zrozumiały sposób pokazują zarówno różnicę pomiędzy standardowymi rachunkami kosztów a Throughput Accounting jak i jej wielkie zalety. Artykuły te będą ukazywać się sukcesywnie, tworząc cenny materiał poznawczy w zakresie TA jak i elementów TOC.</p>
                <p>Zachęcamy do zapoznania się z ofertą ASTHUS i w przypadku zainteresowania współpracą prosimy o kontakt.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-md-2 pt-5">
                <img class="mw-100 rounded" src="{{ asset('images/jerzy_kuncicki.jpg') }}">
                <p>JERZY KUNCICKI</p>

            </div>
            <div class="col-8 offset-md-2 text-justify">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-md-2 text-justify">
                    <h5 class="text-center text-maroon">Nasi partnerzy:</h5>
                <div class="mb-5"><img class="mw-100" src="{{ asset('images/partnerzy.png') }}"></div>
                <hr>
                <div class="img-center">
                    <h5 class="text-center text-maroon">Jesteśmy członkiem:</h5>
                    <div class="col-4 offset-md-4"><img class="mw-100" src="{{ asset('images/pracodawcy_pomorza.jpg') }}"></div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}